<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Welcome to generalsio{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    {% style "/css/screen.css" %}
    {% block add-css %}
    {% endblock %}

</head>
<body>
<div id="loading-screen">
    <p><img src="/img/loading.gif" />{% localize generic/please-wait %}</p>
</div>

{% if flash-message %}
    <div id="flash-message" class="alert {{flash-alert-type}}">{{flash-message}}</div>
{% endif %}


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">generalsio</a>
        </div>

        {% include "templates/menu.html" %}

    </div>
</div>

<div id="wrap">
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</div>


<div class="footer">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="header-menu-wrapper">
                <li field="link-list"><a href="/contact">Contact</a></li>
                <li field="link-list"><a href="/tos">TOS</a></li>
                <li field="link-list"><a href="/cookies">Cookies</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="/js/jquery-2.0.3.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/react-0.12.1.min.js"></script>
<script src="/js/compiled/app.js"></script>

{% block js-bottom %}
{% endblock %}

</body>
</html>
